.create-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
}

.post-creator-name{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.post-creator-name:hover{
    text-decoration: underline;
}

.post-type{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

.type-dropdown{
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.type-text{
    font-size: 15px;
}

.type-dropdown-item{
    display: flex;
    gap: 5px;
    padding: 5px;
}

.show-background-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/public/post-background/istockphoto-1366265822-612x612.jpg');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.show-background-color.active{
    background-image: none;
    background-color: lightgray;
}

.background-option{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.background-option.chosen{
    border: 2px solid white;
}

.background-option.white{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}