.sidebar-right {
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: white;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}

.friend-list-icon{
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}

.friend-request-container{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.sidebar-right .confirm-button, .sidebar-right .cancel-button{
    cursor: pointer;
    padding-left: 31px;
    padding-right: 31px;
}

.sidebar-right .confirm-button, .sidebar-right .cancel-button{
    font-size: 16px;
}

.friend-request-sender-name{
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.status-text{
    font-size: 14px;
    color: #5a5a5a;
    text-align: center;
    padding: 11px 38px 11px 38px;
}

.sidebar-right .search-bounding input{
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 18px;
}

.sidebar-right .search-bounding{
    margin-bottom: 10px;
}